:root {
    --clr-dark: #161616;
    --clr-green: #116628;
    --clr-neon: #67CF3D;
    --clr-light-grey: #3D444D;
    --clr-light: #EDECFF;
    --clr-comp-green: #437D28;

    --ff-primary: 'Merriweather', serif;
    
    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 700;
    --fw-black: 900;

    --fs-xs: 20px;
    --fs-s: 25px;
    --fs-m: 38px;
    --fs-l: 60px;
    --fs-xl: 90px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-primary);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
svg,
picture {
  max-width: 100%;
  display: block;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* NAV-BAR */
.nav {
    display: flex;
    padding: 35px 100px 35px 100px;
    justify-content: space-between;
    align-items: center;
    color: var(--clr-light);
    background-color: var(--clr-dark);
}

nav>h3 {
    margin: 0px;
}

nav>p {
    margin: 0px;
}

/* CALORIES + DAILY INFO */
main {
    display: flex;
    background-color: var(--clr-dark);
    justify-content: center;
    padding: 100px;
}

/* DAILY INFO */

/* .left-col {

} */


.todays-workout {
    width: 100%;
    height: 500px;
    background-color: var(--clr-green);
    color: var(--clr-light);
    border-radius: 50px;
    padding: 50px;
}

.todays-workout>h4 {
    font-size: var(--fs-l)
}

.todays-workout>h3 {
    font-size: var(--fs-l)
}

.todays-workout>p {
    font-size: var(--fs-s);
    margin: 2px;
}


.goodMorning-text-container {
    background-color: var(--clr-green);
    border-radius: 50px;
}

.goodmorning-title {
    font-size: var(--fs-xl);
    color: var(--clr-neon);
    padding: 30px;
    font-size: var(--fs-l)
}

/* CALORIES */

.right-col {
    width: 55%;
    height: 100;
    background-color: var(--clr-green);
    color: var(--clr-light);
    border-radius: 50px;
}

.daily-info-stats {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 5px;
}

.left-stat,
.right-stat {
    padding: 5px
}

/* EXERCISE SECTION */
.exercise-section {
    padding: 100px;
    color: var(--clr-light);
    background-color: var(--clr-green);
}

.exercise-header>p {
    margin: 25px 0px 35px 0px;
}

.exercise-ouputs {
    display: flex;
    justify-content: center;
    align-items: center;
}


#muscle-form {
    background-color: var(--clr-light);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--clr-dark);
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

  .select-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

  .select-container select {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid var(--clr-light);
    border-radius: 5px;
    color: var(--clr-light-grey);
    outline: none;
}

  #submit-btn {
    width: 100%;
    background-color: var(--clr-dark);
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--clr-light);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submit-btn:hover {
    background-color: var(--clr-comp-green);
}

.card-img-top {
    max-height: 200px;
    object-fit: contain;
}
  
.card {
    border: 2px solid #ccc;
}
  
  .card-title {
    text-align: center;
}
  
  .icon-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: darkgreen;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
}
  
.icon-button svg {
    fill: white;
    width: 16px;
    height: 16px;
}

/* WEEKLY SCHEDULE */
  
#weekly-schedule {
    background-color: var(--clr-dark); 
    padding: 100px;
}
  
#weekly-schedule h2 {
    color: var(--clr-light); 
    margin-bottom: 1.5rem;
}
  
.day-container {
    background-color: var(--clr-light-grey); 
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--clr-light);
    text-align: center;
}
  
.day-container h4 {
    color: var(--clr-light); 
    margin-bottom: 1rem;
    padding: 1rem;
}

.remove-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}
  
  
/* Modal */

.custom-modal-width {
    max-width: 800px; /* Adjust this value to your desired width */
}

.modal-title {
    color: var(--primary-color); 
}

.modal-body input.form-control {
    background-color: var(--input-background); 
    color: var(--input-color); 
}

.modal-footer button.btn-primary {
    background-color: var(--primary-color); 
    color: var(--button-text-color);
}

.modal-footer button.btn-secondary {
    background-color: var(--secondary-color); 
    color: var(--button-text-color); 
}
  

/* MEDIUM FTINESS ARTICLES  */

.read-fitness-section {
    padding: 100px;
}


/* FOOTER */

footer {
    display: flex;
    padding: 100px;
    justify-content: space-around;
    align-items: center;
    background-color: var(--clr-green);
    color: var(--clr-light);
}

.footer-logo-wrapper {
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
}
.footer-logo {
    width: 100px;
}

.name-wrapper {
    margin-left: 20px;
    margin-right: 30px;
}

.footer-name {
    font-size: var(--fs-m);
}

.about-us {
    width: 600px;
}